@font-face {
  font-family: "Junicode";
  src: url("../fonts/Junicode-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

/* This is a comment. It is not read by the browser. It is used to leave notes for the developer. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* used to set default variables for styling of the website. Here I've used it for colour variables. i.e. var(--tertiary-color) . */
:root {
  --primary-color: #ffffff;
  --secondary-color: rgb(255, 0, 0);
  --tertiary-color: #000000;
}
body {
  color: var(--primary-color);
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
  background-color: var(--tertiary-color);
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  font-size: 1em;
  line-height: 1.5em;
}
/* the beginning of the grid styling */
.wrapper {
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: minmax(120px, 120px) auto;
  gap: 0em 0.5em;
  min-height: 100vh;
}
/* the wrapper styling bellow using the > selects specifically the children of the wrapper element. So, any elements nested directly bellow the wrapper are targeted by whatever styling is applied here */
.wrapper > * {
  padding: 10px;
}
.header {
  grid-column: 1 / 4; /* the grid-column selects which column the grid starts in, and which it ends BEFORE. This is a three column website, so it ends before the 4th, at the end of the 3rd */
  grid-row: 1;
  font-size: 2em;
  line-height: 3em;
  text-align: center;
  border-bottom: 1px solid var(--primary-color);
  font-family: arial;
}
.nav-bar {
  grid-column: 1 / 1;
  grid-row: 2;
  border-right: 1px solid var(--primary-color);
  display: flexbox; /* flexbox is used here to style the navigation elements in a column */
  flex-direction: column;
  font-family: "Junicode";
  font-weight: 400;
  font-style: italic;
  text-transform: uppercase;
  font-size: 1.5em;
  line-height: 2.25em;
}
.content {
  grid-column: 2 / 4;
  grid-row: 2;
}
.content > * {
  padding-bottom: 50px;
}
.two-col {
  display: grid;
  grid-template-columns: 1fr 1fr; /* using fr means that the columns are equal widths */
  gap: 2em;
  font-size: 1.2em;
  line-height: 1.8em;
  margin: 20px;
}
.three-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
}
a {
  cursor: pointer; /* change the cursor when the user enters the element */
}
/* the code in the [ ] selects the elements with the specified attribute. In this case, it selects all elements with a link/href attribute that ends with .html */
a[href$=".html" i] {
  color: var(--primary-color);
  text-decoration: none;
}
a[href$=".html" i]:hover {
  transition: 0.1s;
  text-shadow: 2px 2px 10px white;
}
a[class~="page-title"] {
  text-decoration: none;
  color: var(--primary-color);
}
a[class~="page-title"]:hover {
  text-decoration: none;
  text-shadow: none;
}
button {
  width: 200px;
  height: 200px;
  padding-top: 40px;
  cursor: pointer;
  border: none;
  border-radius: 100px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-weight: 700;
  font-size: 2em;
  position: fixed;
  z-index: 10;
  bottom: 1vh;
  right: 1vw;
  rotate: -15deg;
}
button:hover {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  transition: 0.3s ease-in-out;
}
figure {
  margin-bottom: 2em;
}
figcaption {
  font-style: italic;
  font-size: 0.8em;
}
figure > img {
  width: 50%;
}
