/* any text between these symbols in a .css file is not read by the browser. They are still visible, though. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #ffffff;
  --secondary-color: rgb(255, 0, 255);
  --tertiary-color: #000000;
}
body {
  color: var(--primary-color);
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
  background-color: var(--tertiary-color);
  height: 100vh;
  width: 100vw;
  font-size: 1em;
  line-height: 1.5em;
}
.wrapper {
  display: grid;
  grid-template-columns: 243px 1fr;
  grid-template-rows: minmax(90px, 90px);
  gap: 0px 10px;
  min-height: 100vh;
}
/* the wrapper styling bellow selects specifically the children of the wrapper element. So, any elements nested directly bellow the wrapper are targeted by whatever styling is applied here */
.wrapper > * {
  padding: 10px;
}
.header {
  grid-column: 1 / 4; /* the grid-column selects which column the grid starts in, and which it ends BEFORE. This is a three column website, so it ends before the 4th, at the end of the 3rd */
  grid-row: 1;
  font-size: 2em;
  line-height: 3em;
  text-align: center;
  border-bottom: 1px solid var(--primary-color);
}
.nav-bar {
  grid-column: 1 / 1;
  grid-row: 2;
  border-right: 1px solid var(--primary-color);
}
.content {
  grid-column: 2 / 4;
  grid-row: 2;
}
.content > * {
  padding-bottom: 50px;
}
.two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  font-size: 24px;
  line-height: 36px;
  margin: 20px;
}
.three-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
a {
  cursor: pointer;
}
a:has(h2) {
  color: var(--primary-color);
}
a:has(h1) {
  text-decoration: none;
  color: var(--primary-color);
}
a:has(h2):hover {
  color: var(--secondary-color);
  text-decoration: underline;
}
button {
  width: 100px;
  height: 100px;
  float: right;
  margin-top: -50px;
  padding-top: 40px;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-weight: 700;
  transition: 0.3s;
}
button:hover {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  transition: 0.3s;
}
figure {
  margin-bottom: 2em;
}
figcaption {
  font-style: italic;
  font-size: 0.8em;
}
figure > img {
  width: 50%;
}
