body {
    background-color: #fff0f9;
    color: purple;
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    -webkit-text-stroke: 0.9px;
    -webkit-text-stroke-color: black;
    color: #fff0f9;
    font-size: 25px;
    font-weight: 20;
}
h2 {
    color: yellow;
    font-size: 18px;
    font-weight: 20;
}
.fixed-wrapper {
    width: fit-content;
    height: fit-content;
    z-index: 100;
}
#code-poem {
    position: absolute;
    background: radial-gradient(lime, white);
    padding: 11x;
    top: 10%;
    left: 5%;
    cursor: move;
    font-size: 11px;
}
#f_p_a_h {
    position: absolute;
    background: linear-gradient(45deg, white, red , white);
    padding: 10px;
    top: 20%;
    left: 20%;
    cursor: move;
    font-size: 11px;
    color: black;
}
#exitsense-btn {
    position: absolute;
    top: 55%;
    left: 15%;
    width:fit-content;
    cursor: move;
    padding: 50px;
    background-image: url(img/elevator.png);
    background-size: 150px 100px;
    filter: blur(1px);
}
#exitsense-btn:hover {
    filter:blur(0px);
    transition: 30ms;
}
#firepit {
    background-image: url(img/fire-flames.gif);
    padding: 40px;
}
#cm-btn {
    position: absolute;
    top: 60%;
    right: 5%;
    width:fit-content;
    cursor: move;
    padding: 50px;
    background-image: url(img/cowgirl.png);
    background-size: 150px 100px;
}
#void-btn {
    position: absolute;
    top: 15%;
    left: 80%;
    cursor: move;
    padding: 120px 80px;
    background-image: url(img/void.jpg);
    background-size: cover;
    opacity: 0.6;
    text-align: center;
}
#void-btn:hover {
    opacity: 1;
    transition: 1s;
}
button {
    background-color: #571f1e;
    border-radius: 3px;
    border: 4px groove #c21f1f;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-decoration: none;
}
td, th {
    width: 200px;
}
table {
    padding: 5px;
}